<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <!-- <div class="container"></div> -->
    <nav class="navigation">
        <a href="/">Home</a> 
        <!-- <a href="/statistics">Statistics</a> -->
    </nav>

    <h1>Statistics</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Period</th>
                <th>Avg Temp</th>
                <th>Std Dev Temp</th>
                <th>Max Temp</th>
                <th>Min Temp</th>
                <th>Avg Humidity</th>
                <th>Std Dev Humidity</th>
                <th>Max Humidity</th>
                <th>Min Humidity</th>
            </tr>
        </thead>
        <tbody>
            <% ['1 Day', '3 Days', '1 Week', '1 Month'].forEach((period, index) => { %>
                <tr>
                    <td><%= period %></td>
                    <% ['avg_temp', 'stddev_temp', 'max_temp', 'min_temp', 'avg_humidity', 'stddev_humidity', 'max_humidity', 'min_humidity'].forEach(stat => { %>
                        <td><%= stats[index][stat] %></td>
                    <% }) %>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <!-- Navigation -->
    

</body>
</html>
